body {

}
.main{
    background-color:#FFFFCC;
    width:93%;
    margin:30px;
    font-style:initial;
    font-size:40px;
    
}
.img1{
    margin:20px;
    margin-left:30px;
}
.heritage{
    width:76%;
    margin:10px;
    font-style:initial;
    font-size:18px;
    margin-left:30px;
}
.img2{
    margin:20px;
    margin-left:30px;
}
.timeline{
   
    margin:10px;
    margin-left:30px;
    font-style:initial;
    font-size:15px;
}